.footer {
  margin-top: $largeGutter;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 86px;
  background-color: $colorGrey;

  &__inner {
    position: relative;
    z-index: 2;
    padding: $largeGutter $normalGutter $normalGutter;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    position: absolute;
    top: 0px;
    left: -8px;
  }

  svg {
    margin-right: $smallGutter;
  }

  small {
    cursor: pointer;
  }
}
