.header {
  @include wrapped(false);
  position: relative;
  background-color: $colorBlack;
  color: $colorWhite;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  backdrop-filter: saturate(180%) blur(20px);

  > div {
    display: flex;
    align-items: center;
  }

  h2 {
    margin: 0;
    padding: 0 0 0 $normalGutter;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
  }

  h2 a {
    text-decoration: none;
    color: $colorWhite;
  }

  svg {
    width: $normalGutter;
    height: $normalGutter;
  }

  @media (max-width: 799px) {
    height: 41px;
  }
}

.headerInner {
  flex: 1;
  text-align: right;
}

.navLinks {
  a {
    padding: $smallestGutter $largeGutter;
    transition: $transitionSpeed;
    color: $colorWhite;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-top: 5px solid transparent;
    border-bottom: 5px solid;
    border-bottom-color: transparent;
  }

  .active {
    text-decoration: underline;
    border-bottom-color: $colorDark;
  }

  a * {
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
  }

  a:hover {
    border-bottom-color: $colorWhite;
  }

  svg {
    margin-right: $smallGutter;
  }

  @media (max-width: 799px) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    transition: $transitionSpeed;

    &.navLinksShow {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      user-select: all;
      background-color: rgba(255, 255, 255, 0.89);
    }

    a {
      min-width: 50px;
      background-color: transparent;
      user-select: none;
    }
  }
}

.navToggle {
  margin-right: $normalGutter;
  display: inline-block;
  padding: $smallGutter 0;
  position: relative;
  z-index: 4;
  cursor: pointer;
  line-height: 12px;

  @media (min-width: 800px) {
    display: none;
  }
}
