@import "../../css/_vars";

.header {
  @include wrapped(false);
  background-color: $colorPrimary;

  > div {
    display: flex;
    align-items: center;
  }

  h2 {
    margin: 0;
    position: absolute;
    bottom: $largeGutter;
    left: $normalGutter;
  }
}

.navLinks {
  flex: 1;
  text-align: right;

  a {
    padding: $largerGutter $largeGutter $largeGutter;
    background-color: $colorPrimaryLight;
    transition: $transitionSpeed;
    color: $colorWhite;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-bottom: 5px solid;
    border-bottom-color: transparent;
  }

  .active {
    text-decoration: underline;
    border-bottom-color: $colorPrimaryLighter;
  }

  a * {
    display: inline-block;
    vertical-align: middle;
  }

  a + a {
    border-left: 1px solid $colorPrimary;
  }

  a:hover {
    background-color: $colorPrimaryLighter;
    border-bottom-color: $colorPrimaryLighter;
  }

  svg {
    margin-right: $smallGutter;
    width: $largeGutter;
    height: $largeGutter;
  }
}
