@import url("https://fonts.googleapis.com/css?family=Cabin:300,400,400i,700");

$siteWidth: 1100px;

$normalGutter: 16px;
$smallGutter: 8px;
$smallerGutter: 4px;
$smallestGutter: 2px;
$largeGutter: 24px;
$largerGutter: 48px;

$fontFamily: "Cabin";

$colorWhite: #fff;
$colorBlack: rgba(0, 0, 0, 0.8);
$colorGrey: rgba(242, 242, 242, 1);
$colorPrimary: #5b95ff;
$colorText: $colorBlack;

$transitionSpeed: 0.22s;
$radius: 2px;

@mixin wrapped($padded: true) {
  > div {
    max-width: $siteWidth;
    margin: 0 auto;
    position: relative;

    @if $padded {
      padding: 0 $normalGutter;
    }
  }
}
