@import "./_vars";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $colorGreyLight;
  color: $colorText;
  margin: 0;
  font-family: $fontFamily, sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.circle {
  border-radius: 50%;
}

.btn {
  padding: $smallGutter $largeGutter;
  color: $colorText;
  text-decoration: none;
  border: 2px solid $colorText;
  display: inline-block;
  cursor: pointer;
  transition: $transitionSpeed;

  &:hover {
    transform: translateY(-2px);
  }
}

.articleContainer {
  @media (min-width: 900px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.articleText {
  max-width: 700px;
}

.articleAside {
  @media (min-width: 900px) {
    margin-left: $largeGutter;
    width: 250px;
  }
}

.articleAsideLinks {
  a {
    display: block;
  }
}
